@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Nunito';
}
nav {
    background-color: rgb(255, 255, 255);
}
ol li a {
    color: rgb(61, 57, 57);
}
ol li a:hover {
    color: rgb(41, 194, 122);
}

div a.text {
    color: rgb(61, 57, 57);
}
div a.text:hover {
    color: rgb(41, 194, 122);
}

div.row div.col img.img{
    max-width: 100px;
}
div.row div.col a{
    color: rgb(61, 57, 57);
}
div.row div.col a:hover{
    color: rgb(41, 194, 122);
}
/* WARNIIIIIIIIIIIIIIIIIIIIIIIIIIINGGGGGGGGGGGGGGGGGGGGGGG */

div.badge {
    background-color: rgb(41, 194, 122);
    font-size: 15px;
}

div h6 {
    color: rgb(41, 194, 122);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

section div.container {
    margin-top: 70px;
}
section div div div.mb-5 {
    margin-bottom: 200px;
}
section section div div.row {
    margin-bottom: 100px;
}

a.h3 {
    margin-top: 300px;
    color: rgb(255, 255, 255);
}
a.h3:hover {
    color: rgb(41, 194, 122);
}

.navbar-brand {
    font-size: xx-large;
}

.color-b {
    color: rgb(41, 194, 122);
}

.dropdown-toggle::after {
    content: none;
}

/* Start Button */
.btn {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 194, 122);
    border-radius: 25px;
}
.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(21, 105, 66);
}
/* End Button */

/* Wave Session */
.position-relative {
    background-color: #b3f7de;
}

/* End Wave Session */


ul li a.dropdown-item {
    font-size: 13px;
}

/* Image */
img {
    border-radius: 0rem;
}

aside{
    background-color: rgb(41, 194, 122);
}

footer {
    margin-top: 200px;
}